@model SPACEGO_E_COMMERCE_WEBSITE.Models.Post
@{
    ViewData["Title"] = "Tạo bài viết";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <label asp-for="Content" class="form-label"></label>
        <textarea asp-for="Content" class="form-control" rows="8"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-check mt-2">
        <input asp-for="IsPublished" class="form-check-input" />
        <label asp-for="IsPublished" class="form-check-label">Công khai bài viết</label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Đăng bài</button>
</form>
