@model SPACEGO_E_COMMERCE_WEBSITE.Models.ApplicationUser

@{
    ViewData["Title"] = "Chi tiết người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 class="text-info mb-3">
        <i class="fa-solid fa-circle-info me-2"></i>Chi tiết người dùng
    </h2>

    <dl class="row">
        <dt class="col-sm-3">Họ tên</dt>
        <dd class="col-sm-9">@Model.FullName</dd>

        <dt class="col-sm-3">Số điện thoại</dt>
        <dd class="col-sm-9">@Model.PhoneNumber</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>

        <dt class="col-sm-3">Trạng thái</dt>
        <dd class="col-sm-9">
            @if (Model.IsActive)
            {
                <span class="badge bg-success">Hoạt động</span>
            }
            else
            {
                <span class="badge bg-danger">Không hoạt động</span>
            }
        </dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
        <i class="fas fa-edit me-2"></i> Sửa
    </a>
    <a asp-action="Index" class="btn btn-secondary">
        <i class="fa-solid fa-arrow-left me-2"></i>Trở về
    </a>
</div>
