@model SPACEGO_E_COMMERCE_WEBSITE.Models.ApplicationUser

@{
    ViewData["Title"] = "Chỉnh sửa người dùng";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var roles = new[] { SD.Role_Admin, SD.Role_Customer, SD.Role_Employee };

}

<div class="container">
    <h2 class="text-warning mb-3">
        <i class="fas fa-edit me-2"></i>Chỉnh sửa người dùng

    </h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Quyền hạn</label>
            <select name="role" class="form-control">
                <option value="">-- Chọn quyền hạn --</option>
                @foreach (var role in roles)
                {
                    @if (ViewBag.CurrentRoles != null && ViewBag.CurrentRoles.Contains(role))
                    {
                        <option value="@role" selected>@role</option>
                    }
                    else
                    {
                        <option value="@role">@role</option>
                    }
                }
            </select>
        </div>


        <div class="mb-3 form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label">Tạm khóa</label>
        </div>
        <button type="submit" class="btn btn-warning">
            <i class="fa-solid fa-floppy-disk me-2"></i>Lưu thay đổi
        </button>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa-solid fa-arrow-left me-2"></i>Trở về
        </a>
    </form>
</div>
