@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject ApplicationUserManager UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown mx-1">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="accountDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-list me-1"></i> Tài khoản
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="accountDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="fas fa-address-card"></i> Thông tin cá nhân
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                        <i class="fas fa-user-lock"></i> Đổi mật khẩu
                    </a>
                </li>
                <li>
                    <form method="post" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                          style="display:inline;">
                        <button type="submit" class="dropdown-item bg-transparent border-0 text-white"
                                style="width: 100%; text-align: left;">
                            <i class="fas fa-sign-out"></i> Đăng xuất
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
        </li>
    }
</ul>
