<form asp-action="CreatePayment" asp-controller="VnPay" method="post">
    <input type="text" name="Name" value="Giang đẹp trai" placeholder="Tên khách hàng" />
    <input type="text" name="OrderDescription" value="Đơn test" placeholder="Mô tả" />
    <input type="number" name="Amount" value="50000" placeholder="Số tiền (VND)" />
    <input type="text" name="OrderType" value="other" placeholder="Loại giao dịch" />
    <button type="submit">Thanh toán qua VNPAY</button>
</form>
