@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/ncHUCwy9Dlo" title="Chút Nhạc EDM Mix Chill Cho Ngày Dài Mỏi Mệt ♫ Top 20 Bản Nhạc EDM Mix Cực Phiêu Gây Nghiện Hay Nhất" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
